<extend name="Public/base" /> 
<block name="body">
	<!-- Page Head -->
    <h2>后台管理系统</h2>
	<br></br>
	<ul class="shortcut-buttons-set">
      <li>
      	<a class="shortcut-button" href="__URL__/add_news">
      		<span> 
      			<img src="__IMG__/icons/pencil_48.png" alt="icon" /><br />
        		添加新闻
        	</span>
        </a>
      </li>
    </ul>

	<div class="clear"></div>
    
    

    <div class="content-box">
    
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>新闻列表</h3>
        <ul class="content-box-tabs">
          <li><a href="#tab1" class="default-tab">当前新闻</a></li>
          <!-- href must be unique and match the id of target div -->
          <li><a href="#tab2">隐藏新闻</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">          
          <!-- 表头 -->
          <table>
            <thead>
              <tr>
                <th>
                </th>
                <th>标题</th>
                <th>添加者</th>
                <th>添加时间</th>
                <th>最后修改</th>	 
                <th>选项</th>
              </tr>
            </thead>
              
            <!-- 表内容部分 -->
            <tbody>
              <volist name="news_list" id="vo">
              <tr>
                <td></td>
                <td>{$vo['title']} </td>
                <td>{$vo['author']} </td>
                <td>{$vo['add_time']}</td>
                <td>{$vo['edit_time']} </td>
                <td>
                  <!-- Icons -->
                  <a href="__URL__/edit_news/id/{$vo['id']}" title="编辑"><img src="__IMG__/icons/pencil.png" alt="编辑" /></a>
                  <a href="__URL__/delete_news/id/{$vo['id']}" title="删除"><img src="__IMG__/icons/cross.png" alt="删除" /></a> 
                </td>
              </tr>  
              </volist>                        
            </tbody>
          </table>
        </div>
        <!-- End #tab1 -->
        <div class="tab-content" id="tab2">          
          <!-- 表头 -->
          <table>
            <thead>
              <tr>
                <th>
                </th>
                <th>标题</th>
                <th>添加者</th>
                <th>添加时间</th>
                <th>最后修改</th>  
                <th>选项</th>
              </tr>
            </thead>
              
            <!-- 表内容部分 -->
            <tbody>
              <volist name="news_list_hide" id="vo_hide">
              <tr>
                <td></td>
                <td>{$vo_hide['title']} </td>
                <td>{$vo_hide['author']} </td>
                <td>{$vo_hide['add_time']}</td>
                <td>{$vo_hide['edit_time']} </td>
                <td>
                  <!-- Icons -->
                  <a href="__URL__/edit_news/id/{$vo['id']}" title="编辑"><img src="__IMG__/icons/pencil.png" alt="编辑" /></a>
                  <a href="__URL__/delete_news/id/{$vo['id']}" title="删除"><img src="__IMG__/icons/cross.png" alt="删除" /></a> 
                </td>
              </tr>  
              </volist>                        
            </tbody>
          </table>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    </div>
    </div>
    <!-- End .content-box -->
    <div class="clear"></div>
</block>