<!-- Main container -->
<div class="page-container">
    
<!-- Navigation Bloc -->
<div id="b-nav" class="bloc-container">
	<div id="bloc-nav" class="d-mode">
		<div class="bloc l-bloc bgc-2 b-divider" id="nav-bloc">
			<div class="container">
				<nav class="navbar row">
					<div class="navbar-header">
						<a class="navbar-brand" href="__APP__/index"><img src="__IMG__/vision_eye.jpg" width="100px" height="75px" alt='' />OUC Vision Lab</a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
							<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-1">
						<ul class="site-navigation nav">
							<li>
								<a href="__APP__/index" class="pull-left">Home</a>
							</li>
							<li>
								<a href="__APP__/people" class="pull-left">People</a>
							</li>
							<li>
								<a href="__APP__/research" class="pull-left">Research</a>
							</li>
							<li>
								<a href="http://vision.ouc.edu.cn/valse" class="pull-left">VALSE</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Navigation Bloc END -->