    <meta charset="utf-8">
    <meta name="keywords" content="Vision">
    <meta name="description" content="Ocean University of China">
    <link rel="shortcut icon" type="image/png" href="__IMG__/favicon.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
    <link rel="stylesheet" id="ppstyle" type="text/css" href="__CSS__/style.css">
    <link rel='stylesheet' href='__CSS__/font-awesome.min.css'/>
    <script src="__JS__/jquery-2.1.0.min.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/blocs.js"></script>
    <title>Vision Lab of OUC</title>