<extend name="Public/base" /> 

<block name="body"> 
	<h2>添加学生</h2>
		<br></br>
		
	   	<!-- 实例化百度编辑器 -->

	   	<form action="__URL__/do_add_student" enctype="multipart/form-data" method="post">
	   		<p class="subtit">学生姓名</p>
			<div>
				<input type="text" id="txtTitle" name="name" style="width:560px; height:20px; float:left;" maxlength="100" value="姓名不能为空" onfocus="if(value=='姓名不能为空') {value=''}" onblur="if (value=='') {value='姓名不能为空'}"/>
			</div>
			<br></br>
			<br></br>
			<p class="subtit">个人主页</p>
			<div>
				<input type="text" id="txtTitle" name="homepage" style="width:560px; height:20px; float:left;" maxlength="100" value="请添加学生的个人主页" onfocus="if(value=='请添加学生的个人主页') {value=''}" onblur="if (value=='') {value='请添加学生的个人主页'}"/>
			</div>
			<br></br>
			<br></br>
			<p class="subtit">学生状态</p>
			<div>
				<select name="status" id="selType">
					<option value="1">显示</option>
					<option value="0">隐藏</option>
				</select>
			</div>
			<br></br>
			<p class="subtit">排序</p>
			<div>
				<input type="text" id="txtTitle" name="order" style="width:50px; height:20px; float:left;" maxlength="100" value="学生排序" onfocus="if(value=='学生排序') {value=''}" onblur="if (value=='') {value='学生排序'}"/>
			</div>
			<br></br>
			<br></br>
			<p class="subtit">学生介绍</p>
		    <div id="myEditor">
		    	<script id="container" name="content" type="text/plain">
    			</script>
    			<script type="text/javascript">
        			var ue = UE.getEditor('container');
    			</script>
			</div>
			<br></br>
			<p class="subtit">上传头像</p>
			<input type="file" name="photo" />
			<br></br>
			<br></br>
			<input type="submit" value="{$btn_ok_text}"/>
		</form>
	    <div class="clear"></div>

</block>