<extend name="Public/base" /> 
<block name="body">
	<h2>修改教师信息</h2>
		<br></br>
		
	   	<!-- 实例化百度编辑器 -->
	   	<volist name="teacher_list" id="vo">
	   	<form action="__URL__/do_edit_teacher/id/{$vo['id']}" enctype="multipart/form-data" method="post">
	   		<p class="subtit">教师姓名</p>
			<div>
				<input type="text" id="txtTitle" name="name" style="width:560px; height:20px; float:left;" maxlength="100" value="{$vo['name']}"/>
			</div>
			<br></br>
			<br></br>
			<p class="subtit">个人主页</p>
			<div>
				<input type="text" id="txtTitle" name="homepage" style="width:560px; height:20px; float:left;" maxlength="100" value="{$vo['homepage']}" />
			</div>
			<br></br>
			<br></br>
			<p class="subtit">教师状态</p>
			<div>
				<select name="status" id="selType">
					<option value="1">显示</option>
					<option value="0">隐藏</option>
				</select>
			</div>
			<br></br>
			<p class="subtit">排序</p>
			<div>
				<input type="text" id="txtTitle" name="order" style="width:50px; height:20px; float:left;" maxlength="100" value="{$vo['t_order']}" />
			</div>
			<br></br>
			<br></br>
			<p class="subtit">教师介绍</p>
		    <div id="myEditor">
		    	<script id="container" name="content" type="text/plain">
		    		{$vo['t_describe']}
    			</script>
    			<script type="text/javascript">
        			var ue = UE.getEditor('container');
    			</script>
			</div>
			<br></br>
			<p class="subtit">修改头像</p>
			<input type="file" name="photo" />
			<br></br>
			<br></br>
			<input type="submit" value="{$btn_ok_text}"/>
		</form>
		</volist>
	    <div class="clear"></div>

</block>